<div class="container">

	<div class="row">
		<div class="col-md-3" id="headfield">
			<center><h4>Add things you like</h4></center>
		</div>


		<div class="col-md-3" id="headfield">
			<center><h4>You might also like</h4></center>
		</div>


		<div class="col-md-3" id="headfield">
			<center><h4>Saved things</h4></center>
		</div>

	</div>

	<div class="row">
		<div class="col-md-3" id="field">



				<p ng-repeat="like in dataLikeList()"><span class="glyphicon glyphicon-remove" ng-click="removeFromLikeList(like); createNewRecList()" id = 'removeMe' aria-hidden="true"></span><a href="/#/info/{{like.Name.split(' ').join('+')}}/{{like.Type}}">{{like.Name.substr(0,20)}}</a><img ng-src="/images/{{like.Type}}.png" id="icon"></p>
	

		</div>

		<div class="col-md-3" id="field">

    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="filter">
            <span ng-repeat="thing in getRecList()"><p id="{{thing.Type}}"><span class="glyphicon glyphicon-heart" ng-click= "addToHeartList(thing); getOurHeartList();createNewRecList()" id = 'heartMe' aria-hidden="true"></span><a href="/#/info/{{thing.Name.split(' ').join('+')}}/{{thing.Type}}">{{thing.Name.substr(0,20)}} <img ng-src="/images/{{thing.Type}}.png" id="icon"></a></p></span>
        </div>
    </div>


		</div>
		<div class="col-md-3" id="field">
			<p ng-repeat="heart in getHeartList()"><span class="glyphicon glyphicon-heart" id = 'unHeartMe' aria-hidden="true" ng-click="removeFromHeartList(heart);createNewRecList()"></span><a href="/#/info/{{heart.Name.split(' ').join('+')}}/{{heart.Type}}">{{heart.Name.substr(0,20)}}</a><img ng-src="/images/{{heart.Type}}.png" id="icon">

			</p>

		</div>
	</div>
		
	


	<div class="row">
		<div class="col-md-3" id="sub-field">

				<div class="input-group" id="searchbar">
					<input type="text" ng-model="currentLike" class="form-control" placeholder="Add things you like!">
					
      				<span class="input-group-btn">

      					<div class="btn-group dropup">
						  <button type="button" class="btn btn-default dropdown-toggle" data-container="body" data-toggle="dropdown" aria-expanded="false">
						    Type <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu" id="dropdown">
						    <li><a type="button" class="btn btn-default"  ng-click="setType('movie:');enableAdd()">Movie</a></li>
						    <li><a type="button" class="btn btn-default"  ng-click="setType('show:');enableAdd()">Show</a></li>
						    <li><a type="button" class="btn btn-default"  ng-click="setType('book:');enableAdd()">Book</a></li>
						    <li><a type="button" class="btn btn-default"  ng-click="setType('game:');enableAdd()">Game</a></li>
						    <li><a type="button" class="btn btn-default"  ng-click="setType('music:');enableAdd()">Music</a></li>
						  </ul>
						</div>

        				<button class="btn btn-default" id="add" ng-click="addToLikeList(currentLike); createNewRecList()" type="button" disabled=true>ADD</button>
        				
      				</span>
      				
	
				</div>
		</div>



<div class="col-md-3" id="sub-field">
	<div class="row" id="search">
<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li id="filter"><a href="#filter" id="filterAll" data-toggle="tab" ng-click="createNewRecList()">All</a></li>
        <li id="filter"><a href="#filter" id="filterMovies" ng-click="createNewRecList('movies')" data-toggle="tab"><img src="/images/movie.png" width="100%"></a></li>
        <li id="filter"><a href="#filter" id="filterShow" ng-click="createNewRecList('shows')" data-toggle="tab"><img src="/images/show.png" width="100%"></a></li>
        <li id="filter"><a href="#filter" id="filterMusic" ng-click="createNewRecList('music')" data-toggle="tab"><img src="/images/music.png" width="100%"></a></li>
        <li id="filter"><a href="#filter" id="filterGames" ng-click="createNewRecList('games')" data-toggle="tab"><img src="/images/game.png" width="100%"></a></li>
        <li id="filter"><a href="#filter" id="filterBook" ng-click="createNewRecList('books')" data-toggle="tab"><img src="/images/book.png" width="100%"></a></li>
    </ul>

</div>
</div>
<div class="col-md-3" id="sub-field"></div>
	</div>

</div>