html,body
{
  height: 100%;
}

body {
background-color: #ff5337;
font-family: "Helvetica neue", "Lucida Grande", sans-serif;
font-weight: lighter;
color: #415667;
}

#header{
	padding-top: 20px;
	margin-left: 80px;
	width: 500px;
}

#field{
	display:block;
	margin-top: 30px;
	background-color: #fff;
	margin-left: 50px;
	padding-top: 10px;
	height: 462px;
	position: relative;
	overflow-y:auto
}

#search{
	position: absolute; 
	bottom: 0;
}

#searchbar{
	width: 96%;
}

#icon{
	float: right;
	width: 25px;
}

p
{
padding-left: 0px;
font-size: 20px;
}


#heartMe, #removeMe, #unHeartMe:hover {
	color: gray;
	padding-right: 5px;
}

#heartMe:hover, #unHeartMe {
	color: red;
	padding-right: 5px;


	}

#removeMe:hover {
	color: black;
}

