html,body
{
  height: 100%;
}

body {
background-color: #ff5337;
font-family: "Lato", "Lucida Grande", sans-serif;
font-weight: 300;
color: #415667;
}

a{
	color: #464646;
}

a:hover{
	color: #052636;
}

body > div > div.dropup.open {
position: absolute;
}


h3{
	font-family: "Lato", "Lucida Grande", sans-serif;
	font-weight: 100;
	font-size: 55px;
	color: #fff;
	text-shadow: 2px 2px #e0462c;

}


h4{
	font-family: "Lato", "Lucida Grande", sans-serif;
	font-weight: 100;
	font-size: 33px;
	color: #fff;
	text-shadow: 2px 2px #e0462c;

}

#header{
	padding-top: 20px;
	margin-left: 80px;
	width: 420px;
}

#headfield{
	margin-top: 5px;
	margin-left: 50px;

}

#field {
	background-color: #fff;
	display:block;
	margin-left: 50px;
	padding-top: 10px;
	height: 432px;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	border-radius: 5px 5px 0px 0px;

}

#dropdown { z-index: 999; }

#sub-field{
	background-color: #fff;
	display:block;
	margin-left: 50px;
	padding-top: 0px;
	height: 40px;
	position: relative;
	border-radius: 0px 0px 5px 5px;

}

#search{
	position: absolute; 
	bottom: 0;
	width: 100%;
	
}

#b {
	width: 20.05%;
}

#b:visited{
	color: #fff;
}

.input-group-addon{
	height: 30px;
 
}


#icon{
	float: right;
	width: 18px;
}

#filterB{
	width: 100%;
}
#pop {
	background-color: #fff;

}

#serachbar{
	display: inline-block;
}

p
{
padding-left: 0px;
font-size: 18px;
}


#heartMe, #removeMe, #unHeartMe:hover {
	color: gray;
	padding-right: 5px;
}

#heartMe:hover, #unHeartMe {
	color: #ff2636;
	padding-right: 5px;


	}

#removeMe:hover {
	color: black;
}

#allInfo{
	background: white;
	border-radius: 5px;	
	margin-bottom: 5px;

}

#wrapper{
	margin-left: 120px;
}

#back, #share{
	margin-left: 0px;
	margin-top: 6px;
	margin-bottom: 16px;
	font-size: 60px;
	color: #ededed;
}

#share-icon{
	color: #bdbdbd;
	margin-right: 4px;
}

#share-icon:hover{
	color: #939393;
}

#share{
	float: right;
	margin-right: 20px;
}

#back:hover, #share:hover {
	color: #e4e4e4;
}

#info {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 316px;
	overflow-y:auto;
}

#infoText{
	font-size: 13px;
}

#vid{
	margin-top: 30px;
}

li#filter{
	width:16.66%;
	padding: 0px;
	margin: 0px;
}

li#a{
	padding: 0px;
	margin: 0px;
}

#search {
	background-color: #f1f1f1;
}